# Rhistory
.Rhistory

# Python cache
**/__pycache__
*.pyc

# meson setup
subprojects/eigen-*
subprojects/packagecache
subprojects/.wraplock

# Other folders
.vscode/*

# Sphinx docs
docs/build_pdf
docs/build_html

# Standard intermediate products
openbt_pypkg/dist
openbt_pypkg/build
openbt_pypkg/.coverage_openbt
openbt_pypkg/coverage.xml
openbt_pypkg/htmlcov
openbt_pypkg/src/openbt.egg-info
openbt_pypkg/src/openbt/_version.py
openbt_pypkg/src/openbt/include/
openbt_pypkg/src/openbt/lib/

# Other files
.DS_Store
