# Text files
!Examples/Data/2d_x_test.txt
!Examples/Data/2d_x_train.txt
!Examples/Data/2d_y_train.txt
!Examples/Data/honda_x_test.txt
!Examples/Data/honda_x_train.txt
!Examples/Data/honda_y_train.txt

# Rhistory
.Rhistory

# Python cache
__pycache__/*
*.pyc

# meson setup
subprojects/eigen-*
subprojects/packagecache
subprojects/.wraplock

# Other folders
.vscode/*
__pycache__

# Sphinx docs
docs/build_pdf
docs/build_html

# Standard intermediate products
openbt_pypkg/dist
openbt_pypkg/build
openbt_pypkg/.coverage_openbt
openbt_pypkg/coverage.xml
openbt_pypkg/htmlcov
openbt_pypkg/src/openbt.egg-info
openbt_pypkg/src/openbt/_version.py

# Other files
.DS_Store
