export(openbt)
S3method(predict, openbt)
export(vartivity.openbt)
export(sobol.openbt)
export(mopareto.openbt)
export(openbt.save)
export(openbt.load)
export(makecuts.openbt)
export(setvarcuts.openbt)
export(calcMBD)
export(calcRS)
importFrom(stats,cor)
importFrom("graphics", "boxplot", "par")
importFrom("graphics", "abline", "lines", "plot", "points")
importFrom("stats", "quantile", "sd","qqplot")
importFrom("stats", "rnorm", "runif")
importFrom("stats","dist")
importFrom("utils","read.table")
importFrom("stats","qnorm")
importFrom("zip","unzip")
importFrom("zip","zipr")
importFrom("graphics","title")
importFrom("graphics","rect")
importFrom("grDevices","gray")
importFrom("utils","combn")
importFrom("Hmisc","wtd.mean")
importFrom("Hmisc","wtd.var")
importFrom("Hmisc","wtd.quantile")

